body {
    background: linear-gradient(0.25turn, #f7f7f7, #e245c894);
    /* background-color: #f0a2fa; */
}

.imagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    /* color:white; */
    border: 20px;
}

.image {
    /* border-style:dotted;
    border-width: 5px;
    border-color: #f5b3a5; */
    margin: 20px;
    mix-blend-mode:darken;

}

#teddyGif {
   width: 25%;
   height: 25%;
   display: inline-block;
   align-items:center
   
}
#teddyGif2 {
   width: 25%;
   height: 25%;
   display: inline-block;
   align-items:center;
  
}

.register {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#link {
    font-size: 2rem;
    text-decoration: none;
    color: #f5b3a5;
    font-family:monospace;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

#link:hover {
    color: #b074e7;
  }